-@ val title: String
-@ val body: String

!!!
html
  head
    title= title
    meta(charset="utf-8")

    - val jquery = uri("/webjars/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript" src="#{jquery}")
    
    - val jqueryAtmosphere = uri("/webjars/jquery-atmosphere/2.2.13/jquery.atmosphere-min.js")
    script(type="text/javascript" src="#{jqueryAtmosphere}")

    //- - val d3Path = uri("/webjars/d3js/4.2.1/d3.min.js")
    - val d3Path = uri("/webjars/d3js/3.4.13/d3.min.js")
    //- - val d3Path = uri("/webjars/d3/3.4.13/d3.min.js")
    script(type="text/javascript" src="#{d3Path}")

    - val epochPath = uri("/webjars/epoch/0.8.4/dist")
    - val epochCssPath = uri(s"$epochPath/css/epoch.min.css")
    link(href="#{epochCssPath}" rel="stylesheet")
    - val epochJsPath = uri(s"$epochPath/js/epoch.min.js")
    script(type="text/javascript" src="#{epochJsPath}")

    - val bootstrapPath = "/webjars/bootstrap/3.3.7-1"
    - val bootstrapCss = uri(s"$bootstrapPath/css/bootstrap.min.css")
    link(href="#{bootstrapCss}" rel="stylesheet")
    - val bootstrapJs = uri(s"$bootstrapPath/js/bootstrap.min.js")
    script(type="text/javascript" src="#{bootstrapJs}")

    script(type="text/javascript" src="js/pie.js")
    script(type="text/javascript" src="js/area.js")
    script(type="text/javascript" src="js/atmosphere.js")
    link(href="css/labels.css" rel="stylesheet")

  body
    #content
      != body
